.main p {
  font-size: 17px; }

.search-box {
  position: relative;
  height: 180px; }
  .search-box .search-img {
    background: url("http://img.central.morning-star.cn/3msEnaDJ8FyQy67pYcsFre34KCBGzmSN.png?imageslim") center center no-repeat;
    background-size: cover; }
  .search-box .search-bg, .search-box .search-img {
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
  .search-box .search-bg {
    background: rgba(243, 0, 0, 0.55); }
  .search-box .search-main {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 35px;
    top: 60px; }

.main-list {
  width: 1080px;
  margin: 90px auto 0 auto; }

.list-top {
  text-align: center; }
  .list-top figcaption {
    text-align: center; }
    .list-top figcaption span {
      display: inline-block;
      color: #333;
      margin-right: 30px;
      cursor: pointer;
      font-size: 24px; }
    .list-top figcaption .active, .list-top figcaption span:hover {
      color: #df4a43;
      font-size: 26px; }
  .list-top P {
    display: inline-block;
    width: 60px;
    height: 2px;
    background: #cdcdcd;
    margin-top: 10px;
    position: relative;
    left: -18px; }

.list-box {
  list-style: none;
  margin: 50px -50px 0 0; }
  .list-box .head-pic {
    position: relative;
    border: 1px solid #dedede;
    border-bottom: none; }
    .list-box .head-pic a {
      display: block; }
      .list-box .head-pic a img {
        width: 100%; }
    .list-box .head-pic .isUser {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6); }

.list-box li {
  float: left;
  width: 250px;
  margin: 0 20px 20px 0;
  overflow: hidden; }
  .list-box li img {
    height: 180px;
    border-radius: 5px 5px 0 0;
    display: block; }
  .list-box li .list-con {
    padding: 30px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #dedede;
    border-top: none; }
    .list-box li .list-con .listcon-tit {
      font-size: 18px;
      font-weight: bold;
      color: #df4a43; }
    .list-box li .list-con .listcon-ver {
      font-size: 12px;
      color: #afafb5;
      padding: 10px 0; }
    .list-box li .list-con .listcon-intro {
      font-size: 14px;
      color: #7d7d7d;
      line-height: 24px; }
    .list-box li .list-con .btns {
      margin-top: 20px;
      display: flex; }
      .list-box li .list-con .btns p {
        display: inline-block;
        flex-grow: 1;
        text-align: center; }
        .list-box li .list-con .btns p span {
          position: relative;
          z-index: 22; }
